#appContainer {
  display: flex;
  flex-direction: row;
  margin: 1vw;
  padding: 1vw;
  border-width: 5px;
  border: black;
  height: 95vh;
  width: 95vw;
}

#searchContainer{
  min-width: 30vw;
  background: #C2BABA;
  height: 100%;
}

#mapContainer {
  flex:2;
  height: 100%;
  background: grey;
}

.mapCanvas {
  flex:1;
  height: 100%;
  width: 100%;
}

.locationRowHolder {
  padding-left: 10px;
  padding-right: 10px;
  flex:1;
  display: flex;
  flex-direction: column;
}

.locationRow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
  min-height: 75px;
  width: 100%;
}